body  {
  font-family: "Numans", san-serif;
  color: white;
  background: black;
  width: 1200px;
  margin: 0px auto;
  padding: 0px auto;
  background-image: url(../img/hero-macbook.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}


.full-width {
  width: 1200px;
  float: left;
}


.half-width {
  width: 600px;
  float: left;
}


.third-width  {
  width: 400px;
  float: left;
}


header{
  height: 650px;

}


h1 {
    display: block;
    font-size: 30px;
    margin: 0px;
    font-weight:normal;
    padding: 0px;
}


#top-bar  {
  padding: 25px 25px;
  margin-bottom: 50px;
}


#nav ul li{
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  text-align: right;
  float: right;
  font-size: 30px;
}


ul  {
  margin: 0px;
}


div #nav .half-width  {
  text-align: right;
}


#profile-description h2{
  padding-top: 0px;
  font-size: 73px;
  margin-bottom: 1px;
  margin-left: 25px;
}


#profile-description h3{
  padding-top: 0px;
  font-size: 23px;
  margin: 0px auto;
  font-weight:normal;
  margin-left: 25px;
  color: #c8a763;
}


h2  {
  padding-bottom: 20px;
}


h2 {
  font-size: 36px;
  font-weight:normal;
}


#portfolio img  {
  width: 500px;
}


#left-portfolio div{
  height: 275px;
  text-align: right;
}


#right-portfolio div{
  height: 275px;
  text-align: left;
}


.description  {
  width: 500px;
  height: 275px;
  padding: 25px 50px;
  line-height: 150%;
}


.description p  {
  font-size: 18px;
  text-align: justify;
}


.section-title  {
  text-align: center;
}


#contact  {
  text-align: center;
}


#contact img{
  width: 50px;
}


#contact ul li{
  list-style: none;
  display: inline-block;
  float: none;
  padding-right: 25px;
}


#head-shot  {
  width:350px;
  height:350px;
}


#about-pic   {
  text-align: center;
}


#about h2, #portfolio h2, #contact h2 {
  color: #c8a763;
  margin-top: 100px;
}


span  {
  color: #c8a763;
}


.button {
    border: 1px solid;
    border-color: #c8a763;
    border-radius: 2px;
    border-radius: 2px;
    padding: .6em 1em .4em;
    color: white;
    text-decoration: none;
  }

#button-position  {
  text-align: center;
}


.description p {
  font-size: 18px;
}


#contact div{
  padding-bottom: 25px;
}


footer  {
  text-align: center;
  clear: both;
  padding-top: 50px;
  border-top: .25px solid;
  border-color: white;
}
